@CHARSET "UTF-8";

/*
For header
*/
.headerWidget {
	border: 1px solid green;
	width: 95%;
	height: 170px;
	overflow:hidden;
	margin:auto;
	margin-top:2px;
	padding:10px;
	background-color:#ffffe0;
	}
	
.logo_div{
  font-size: 40px;
  width: 25%;
  float:left;
  margin-top: 0.5em;
}


.search_div{
  margin-left: 3%;
  margin-top: 70px;
  width: 35%;
  float:left;
}	

.searchButton{
	width:100%;
	height:30px;
}


.searchBox{
  
  width:80%;
  height:35px;
}	

.login_Supplier_Wrapper_div{
	float:left;
	margin-left:15%;
	width:10%;
	margin-top:15px;
	vertical-align:top;
}
.login_div {
	display:inline-block;
	vertical-align:top;	
}
.listDeal_div {
	display:inline-block;
	vertical-align:top;
	margin-left:5%;	
}
.myaccountGreetingWrapper_div {
	clear:left;
}
.myaccountHome_div {
	margin-left: 10%;
	display:inline-block;
	margin-top:20px;
}
.greeting_div {
	margin-left: 60%;
	margin-top:20px;
	display:inline-block;
}

/*
Body Content Widget
*/
.bodyContentWidget {
	padding-bottom:170px;
	padding:10px;
	width: 95%;
	margin:auto;
	height:100%;
	overflow:hidden;
	background-color:#ffffe0;
	}
			
/*
Deal Widget
*/

.dealsWidget {
	border: 1px solid black;
	border-radius:5px;
	width: 25%;
	height: 300px;
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
	overflow:hidden;
	background-color: #acf708;
	padding-left:0.4em;
	float:left;
	}

.dealsWidget:hover {
	cursor:pointer;
	background-color: #def;	
}
		
.dealsWidget h3 {
		font-size: 1.5em;
		font-style: italic;
		text-align: center;
		margin: 0px;
	}


/*
Buy Now Widget
*/

.buyNowWidget {
	width: 40%;
	padding: 10px;
	overflow:hidden;
	float: left;
	margin-left:3%;
	}
	
	
	.buyNowWidgetImage {
		float: left;
		width: 40%;
		overflow:hidden;
		margin-left:3%;
	}

/*
Our Store Widget
*/		
.ourStoreWidget {
	border: 1px solid black;
	border-radius:5px;
	margin-top: 1%;
	width: 25%;
	height: 300px;
	margin-left: 3%;
	overflow:hidden;
	background-color: #acf708;
	padding-left:0.4em;
	float:left;
}

.ourStoreWidget:hover {
	cursor:pointer;
	background-color: #def;	
}

/*
Pagination
*/
#pagination div {
	position: relative;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 3s;
}

#pagination div.active {
    background-color: #4CAF50;
    color: white;
}

#pagination div:hover:not(.active) {
	background-color: #ddd;
	}

#pagination div:hover {
	cursor:pointer;
}

#paginationWrapper {
	clear:left;
	margin-left:30%;
}

/*
For footer
*/

.footerWidget {
	position: absolute;
	bottom: 0;
	left:0;
	width: 95%;
	margin-left:1.8%;
	padding:10px;
	height: 170px;
	border: 1px solid green;
	background-color:#ffffe0;
	}
	
	.footer_group1{
	position:absolute;
	display:inline-block;
	left:10%;
	top:10%;
	width:20%;
	height:100%;
	bottom:0;
	}

	.footer_group2{
	position:absolute;
	display:inline-block;
	left:30%;
	top:10%;
	width:20%;
	height:100%;
		}
	
	.footer_group3{
	position:absolute;
	display:inline-block;
	left:50%;
	top:10%;
	width:20%;
	height:100%;
	}
	
	.footer_group4{
	position:absolute;
	display:inline-block;
	left:70%;
	top:10%;
	width:20%;
	height:100%;
	}
	
	.vertical_space{
	padding-top:5%;
	}

html,
body{
	margin:0;
	padding:0;
	height:100%;
	font-size: 100%;
	background-color: #000000;
	
}

#container{
	min-height:100%;
	position: relative;
}

p {
	font-size: 1.5em;
	line-height: 1.5;
}

.middlealigned {
	height:100%;
	width: 60%;
	left: 20%;
	position:relative;
	padding-bottom:170px;	
	overflow:hidden;
}

.middleAlignedFormBox {
	height:100%;
	width: 60%;
	left: 30%;
	position:relative;
	padding-bottom:170px;	
	overflow:hidden;
}

.loginBox  {
	border: 1px solid black; 
	width: 30%;
	margin-top: 3em;
	left: 30%;
	position:relative;
	padding-bottom:170px;	
	overflow:hidden;
	border-radius: 5px;
	padding:70px 0 70px 0;
	text-align:center;
	background-color:green;
}

#errorMessage {
	color:red;
}
	
/*
Button
*/
.button {
	background-color: Transparent;
    background-color: #def; 
    display: inline-block;
    border: 1px solid #787878;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: background-color 3s;
    
}

.button:hover {
	cursor:pointer;
	box-shadow:0px 15px 5px #9eb7ef inset;
}


/*
Response Message
*/
#response {
	font-size: 16px;
	color: green;
}



/*
Hyper link
*/
a:link{
	text-decoration:none;
	font-weight: bold;
	color:blue;
}

a:visited{
	text-decoration:none;
	font-weight: bold;
	color:#f0f;
}

a:hover{
	text-decoration:underline;
	font-weight: bold;
	background-color: blue;
	color:#fff;
}

a:active{
	text-decoration:underline;
	font-weight: bold;
	background-color: black;
	color:white;
}


/** 
 Image 
**/
.floatImageLeft {
	width: 6em;
	height: 6em;
	float: left;
	margin:0 0.5em 0.5em 0;
}


/**
Side bar widget
**/
	/*
Deal Widget
*/

.sideBarWidget {
	border: 1px solid black;
	border-radius:5px;
	width: 15%;
	height: 330px;
	margin-left: 1%;
	margin-top: 5%;
	overflow:hidden;
	background-color: #acf708;
	padding-left:0.4em;
	float:left;
	position:fixed;
	}
	
.sideBarWidget:hover {
	cursor:pointer;
	background-color: #def;	
}

.sideBarMenuWidget {
	border: 1px solid black;
	border-radius:5px;
	width: 15%;
	height: 30px;
	margin-left: 1%;
	margin-top: 1%;
	overflow:hidden;
	background-color: #acf708;
	padding-left:0.4em;
	float:left;
	position:fixed;
	text-align: center;
}

.sideBarMenuWidget:hover {
	cursor:pointer;
	background-color: #def;	
}

/*
Following will scale down image gracefully but not increase the size more than original.
*/
img {
	max-width: 100%;
	height: auto;
}

.polaroidImg {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.polaroidImgContainer {
  text-align: center;
  padding: 10px 20px;
}


/*
decorate list
*/

ul.existingImage{
	list-style: none outside none;
	display: table;
	border-spacing: 2px;
}
ul.existingImage > li{
	display:table-row;
}
ul.existingImage > li > label,button {
	display:table-cell;
	cursor:pointer;
}